@import '../../assets/sass/variables';

button {
    border:2.5px solid black;
    border-radius: 5px;
    min-width: 5vw;
    min-height: 5vh;
}

.button--add {
    background-color: $colour--primary;
}
.button--sub {
    background-color: $colour--secondary;
}